@font-face {
  font-family: 'Garetrademo';
  src: url('Garetrademo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.topcontainer {
    display: flex;
    padding: 15px;
    background-color: rgb(231, 210, 213);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(251, 247, 238);
    gap: 330px;
    font-family: 'Garetrademo';
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(84, 82, 82);
}

.blushingdoll {
    font-size: 50px;
    margin-left: 70px;
}

.headpics,
.contact {
    align-self: flex-end;
    font-size: 18px;
}

.imgs {
    height: auto;
    width: 40px;
}

.contact {
    display: flex;
    gap: 11px;
}

.nav {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    border-right: 0px;
    border-left: 0px;
    background-color: rgb(251, 247, 238);

}
.main {
    background-color: rgb(251, 247, 238);
}

.left-side,
.right-side {
    display: flex;
    width: 50%;
    padding: 15px;
    justify-content: space-around;
    padding-top: 22px;
    padding-bottom: 22px;
}

.left-side {
    border-right: 1px solid black;
}

.main {
    display: flex;
    justify-content: space-between;
    min-height: px; 
    /*min height  allows me to set minimum needed/reuired
    but allows for border box to grow larger than that
    if needed if items need to grow!!!*/
    overflow: auto;
    /* over-flow: auto allows scrolling
    flex inside containers to adjust when needed */
    background-color: rgb(251, 247, 238);
    border-bottom: 1px solid black;
}

.mleft,
.mright {
    display: flex;
}

.mleft {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 120px;
    background-color: rgb(251, 247, 238);
    flex-grow: 2;

}

.blush {
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

.rareblush {
    width: 800px;
}

.mright {
    flex-direction: column;
    border-left: 1px solid black;
    background-color: rgb(255, 231, 207);

}

.right1,
.right2,
.right3 {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: rgb(84, 82, 82);
    
}

.right2,
.right3{
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    
}

.right1 {
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid black;

    gap: 10px;
    height: 100px;
    max-height: 100px;

    font-size: 33px;
    font-style: italic;
}

.right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    max-height: 200px;

}

.rabbit {
    display: block;
    margin-bottom: 10px;
}

.right1img {
    display: block;
    height: auto;

}


.rhode {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-grow: 1;
    
}

.rhodesub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 247, 238);
}

.rhode1 {
    box-sizing: border-box;
    height: auto;
    max-width: 60%;
    border-radius: 50%;
    width: 600px;
    
}

