@font-face {
  font-family: 'Garetrademo';
  src: url('Garetrademo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.topcontainer {
    display: flex;
    padding: 15px;
    background-color: rgb(255, 222, 115);
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 248, 231);
    gap: 330px;
    font-family: 'Garetrademo';
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(90, 72, 72);
}

.blushingdoll {
    font-size: 50px;
    margin-left: 70px;
}

.headpics,
.contact {
    align-self: flex-end;
    font-size: 18px;
}

.imgs {
    height: auto;
    width: 40px;
}

.contact {
    display: flex;
    gap: 11px;
}

.blurb {
    display: flex;
    flex-direction: column;
    border: 5px solid peru ;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    border: 2px solid rgb(0, 0, 0);

}