@font-face {
  font-family: 'Garetrademo';
  src: url('Garetrademo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

.topcontainer {
    display: flex;
    padding: 15px;
    background-color: rgb(231, 210, 213);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(251, 247, 238);
    gap: 330px;
    font-family: 'Garetrademo';
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(90, 72, 72);
}

.blushingdoll {
    font-size: 50px;
    margin-left: 70px;
}

.headpics,
.contact {
    align-self: flex-end;
    font-size: 18px;
}

.imgs {
    height: auto;
    width: 40px;
}

.contact {
    display: flex;
    gap: 11px;
}

.nav {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    border-right: 0px;
    border-left: 0px;
    background-color: rgb(251, 247, 238);

}
.main {
    background-color: rgb(251, 247, 238);
}

.left-side,
.right-side {
    display: flex;
    width: 50%;
    padding: 15px;
    justify-content: space-around;
    padding-top: 22px;
    padding-bottom: 22px;
}

.left-side {
    border-right: 1px solid black;
}

.main {
    display: flex;
    justify-content: space-between;
    min-height: 1000px; 
    /*min height  allows me to set minimum needed/reuired
    but allows for border box to grow larger than that
    if needed if items need to grow!!!*/
    overflow: auto;
    /* over-flow: auto allows scrolling
    flex inside containers to adjust when needed */
    background-color: rgb(251, 247, 238);
}

.mleft,
.mright {
    display: flex;
}

.mleft {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 120px;
    background-color: rgb(251, 247, 238);
    flex-grow: 2;

}

.blush {
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

.rareblush {
    width: 800px;
}

.mright {
    flex-direction: column;
    border-left: 1px solid black;
    justify-content: space-evenly;
    background-color: rgb(255, 231, 207);
    flex-grow: 1;

}

.right1,
.right2,
.right3 {
    border-bottom: 1px solid black;
}

.flex