* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.parentMain,
.childContain {
    display: flex;
}

.parentMain {
    justify-content: center;
    align-items: center;

}

.childContain {
    flex-direction: column;
    border: 2px solid blue;
    padding-left: 20vw;
    padding-right: 20vw;
}

.colorChoice {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid black;
}

.top {
    font-style: italic;
}

table {
    text-align: center;
    border-collapse: collapse;
    justify-self: center;
    margin-top: 20px;
    width: 30vw;
    height: 4vw;
    font-size: 20px;
}

td {
    border: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

h3 {
    border-bottom: 1px solid black;
}


.colorWay {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto;
    grid-row: 2;

}

.sideSnip {
    grid-column: 2;
    width: 100%;
    border: 1px solid black;
}

.colorOverView,
.h {
    background-color: rgb(240, 213, 162);
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    padding: 1vw;
}

.colorSelected,
.hueIMGS {
    height: 20rem;
    background-color: yellow;
}







