* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.parentMain {
    display: grid;
    padding-left: 20%;
    padding-right: 20%;

}

.childContain {
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
}

.colorChoice {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.top {
    font-style: italic;
}

table {
    text-align: center;
    border-collapse: collapse;
    justify-self: center;
    margin-top: 20px;
    width: 30vw;
    height: 4vw;
    font-size: 20px;
}

td {
    border: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: auto 1fr 1fr;
    gap: 20px;
    height: 100%;
}

h3 {
    border-bottom: 1px solid black;
}


.colorWay {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-row: 2/4;
    gap: 20px;
    height: 100%;
    padding-top: 20px;

}

.sideSnip {
    grid-column: 2;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.colorOverView,
.h {
    background-color: rgb(243, 192, 170);
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    padding: 1vw;
}

.hueIMGS {
    width: 100%;
    height: 300px;
    object-fit: fill;
}


.colorSelected {
    background-color: rgb(117, 68, 68);
    height: 280px;
}

.panTain {
    border: 1px solid black;
    text-align: center;
    height: 200px;
}

.pantone {
    height: 70%;
}

.descript {
    height: 30%;
}

.panTain > :last-child {
    background-color: rgb(100, 100, 100);
}

.panTain:nth-child(1) > .pantone {
    background-color: #994D00;
}

.panTain:nth-child(2) > .pantone {
    background-color: #80461B;
}

.panTain:nth-child(3) > .pantone {
    background-color: #7B3F00;
}

.panTain:nth-child(4) > .pantone {
    background-color: #483C32;
}

.panTain:nth-child(5) > .pantone {
    background-color: #D2B48C;
}

.panTain:nth-child(6) > .pantone {
    background-color:	#724e2c;
}

.panTain:nth-child(7) > .pantone {
    background-color: #c78752;
}

.panTain:nth-child(8) > .pantone {
    background-color: #5e481e;
}

.panTain:nth-child(9) > .pantone {
    background-color: #ab856f;
}

.panTain:nth-child(10) > .pantone {
    background-color: #CD7F32;
}

.panTain:nth-child(11) > .pantone {
    background-color: #613936;
}

.panTain:nth-child(12) > .pantone {
    background-color: #C19A6B;
}


.panTain:nth-child(13) > .pantone {
    background-color: #A0522D;
}

.panTain:nth-child(14) > .pantone {
    background-color: #DAA06D;
}

.panTain:nth-child(15) > .pantone {
    background-color: #C4A484;
}

.panTain:nth-child(16) > .pantone {
    background-color: #EADDCA;
}




.sticky {
    position: sticky;
    top: 15px;
}

.bubbles {
    display: flex;
    gap: 15px;;
}

.bubbles > * {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.b1 {
    background-color: #56391a;
}

.b2 {
    background-color: #994D00;
}

.b3 {
    background-color: #8f6436;
}

.b4 {
    background-color: #a57562;
}

.b5 {
    background-color: #ba8d5c;
}

.leftColumn {
    height: 100%;
}

.row1col1 {
    padding: 20px;
    box-shadow: 0 8px 20px rgba(68, 44, 44, 0.6), 0 4px 6px rgba(0, 0, 0, 0.3);
}