.c1,
.c2,
.c3,
.c5
.c1left,
.c1right,
.imgtainer1 {
    display: flex;
    box-sizing: border-box;
}

.c1 {
    justify-content: center;
}

.c1left,
.c1right {
    width: 50%;
}

.c1left {
    border: 3px solid red;
}

.imgtainer1 {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 1000px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.k1 {
    position: absolute;
    width: 320px;
    transform: translate(160px);
    z-index: 1;
    box-shadow: 0px 10px 10px 3px rgb(170, 170, 170);

}

.k2 {
    position: absolute;
    width: 330px;
    transform: translate(-150px, -150px);
    box-shadow: 0px 10px 15px 0px rgb(158, 158, 158);

}

.kellymain {
    position: absolute;
    width: 500px;
    transform: translate(25px, 140px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    box-shadow: 0px 10px 15px 0px gray;
}

.kellymain:hover {
    transform: translate(50px, 170px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.c1right {
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
}


.blurb,
.subblurb,
.subblurb1,
.subblurb2,
.anotherblurb,
.subblurb4,
.blurb4,
.blurb5 {
    box-sizing: border-box;
    display: flex;
    border: 3px solid red;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.subblurb {
    font-size: 70px;
    font-style: italic;
    width: 100%;
    height: 300px;
    justify-content: flex-end;
    align-items: center;
}

.subblurb1 {
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin-left: auto;
    text-align: justify;
    font-size: 20px;

}
