.c1,
.c2,
.c3,
.c5
.c1left,
.c1right,
.imgtainer1,
.ktextblurb {
    display: flex;
    box-sizing: border-box;
}

.c1 {
    justify-content: center;
}

.c1left,
.c1right {
    width: 50%;
    max-width: 50%;
    object-fit: contain;
}

.c1left {
    border: 3px solid red;
}

.imgtainer1 {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.k1 {
    position: absolute;
    width: 320px;
    transform: translate(160px);
    z-index: 1;
    box-shadow: 0px 10px 10px 3px rgb(170, 170, 170);

}

.k2 {
    position: absolute;
    width: 330px;
    transform: translate(-150px, -150px);
    box-shadow: 0px 10px 15px 0px rgb(158, 158, 158);

}

.kellymain {
    position: absolute;
    width: 500px;
    transform: translate(25px, 140px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    box-shadow: 0px 10px 15px 0px gray;
}

.kellymain:hover {
    transform: translate(50px, 170px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.c1right {
    border: 3px solid blue;
}


.c2 {
    border: 2px solid black;
}